body,html{
	font-family: 'Titillium Web', sans-serif;
}
.App {
	height: calc(100vh - 200px);
	text-align: center;
}
.pt{
	height: calc(100vh - 150px);
	margin-top: 45px;
	}
.pointer{
	cursor:pointer;
}
.link{
	text-decoration: none;
	transition: font-size 1s, color 1s;
}
.link:hover{
	font-size: 1.1em;
	color: #4267b2;

}

