#overview{
	display: flex;
	flex-direction: column;
}
#overview div{
	padding: 20px 0px;
}
#overview img{
	height: 60px;
	border-radius: 50%;
}
#overview div div{
	display: grid;
	padding: 0px 0px;
}
#overview div div div{
	border: 1px solid black;
	padding: 5px 0px;
}
#overview #users div{
	grid-template-columns: repeat(9,200px);
}
#overview #database div{
	grid-template-columns: repeat(9,200px);
	word-break: break-word;
}
#overview #visits div{
	grid-template-columns: repeat(9,200px);
}
h1{
	padding-top: 30px;
}