#overview{
	display: flex;
	flex-direction: column;
}
#overview div{
	display: inline-block;
}
#overview div div{ display: grid }
#users div div, #visits div div{
	grid-template-columns: repeat(2,1fr);
}
#database div div{
	grid-template-columns: repeat(9,1fr);
	grid-template-rows: 1fr;
	border: 1px solid dashed;
}
#overview img{
	height: 60px;
	border-radius: 50%;
}
