.full-screen{
	height: 100%;
	max-width: 100vw;
	overflow-y: scroll;
}
.b{
	border: 1px solid rgba(0,0,0,0.4)
	}
.scroll{
	overflow-x: scroll;
}
.padding{
	padding:20px;
}
.grid{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(400px, 410px));
}
@media (hover: none) {
	.grid{
	grid-template-columns: repeat(auto-fill,minmax(270px,280px));
	}
}
@media (max-width: 500px){
	.grid{
	grid-template-columns: repeat(auto-fill,minmax(270px,280px));
	}
}