
/*MAIN SCROLLER*/
#scroller{
	height: auto;
	overflow-y: scroll;
	margin-top: 3px;
}
/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height:4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

/*HOME PAGE*/
fieldset{
	margin: auto;
	border:1px solid black;
	width:90%;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: inset 0px 5px 10px rgba(0,0,0,0.4)

}
fieldset legend{
	width: auto;
	position: relative;
	top:8px;
	margin-left:15px;
	cursor: pointer;
}
fieldset legend p{
	border: 0.5px solid black;
	border-radius: 5px;
	background-color: white;
	padding: 0px 15px;
}
/*CARDS DISPLAY*/
#pages-wrapper{
	overflow-x: scroll;
}
#pages-list{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px,401px));
	grid-column-gap: 10px;
	overflow: hidden;
	justify-content: center;
}
/*ALL PAGES*/

#filter-buttons{
	margin:auto;
	justify-content: center;
	width: 70%!important;
	display: flex;
	flex-wrap: wrap;
}
#filter-buttons div{
	z-index:99;
	position: absolute;
	display: none;
	flex-direction: column;
	margin-top: 30px;
	margin-left:46px;
	width: 178px;
	border: 1px solid black;
	background-color: #ddd;
}
#filter-buttons div p{
	cursor: pointer;
	margin: 0px;
	padding: 10px;
}
#filter-buttons div p:hover{
	background-color: #bbb;
}
@media (max-width: 490px){
	#pages-list{
	grid-template-columns: repeat(auto-fill, minmax(290px,291px));
	grid-column-gap: 10px;
	}
}