.header{
	background-color: #4267b2;
	color: white;
}
.container{
	max-width:100%;
}
.bg-light{
	opacity:0.8;
}
#logo{
	position:absolute;
	width: 150px;
	height: 150px;
	margin: -50px 15px;
	font-weight: bold;
	font-size: 6em;
	background-color: #4267b2;
}
.b{
	border: 1px solid black;
}
.search{
	background-color: rgba( 200,200,200,0.9 );
	color: white;
	cursor: text!important;
}
.btn{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.minustop{
	margin-top: -50px;
}
.set-height{
	height:32px;
}
.set-width{
	width: 198px;
	overflow:hidden;
}

#hidden{
	background-color: #4267b2;
	opacity: 0.6;
}