.header{
	background-color: #4267b2;
	color: white;
}
.container{
	max-width:100%;
}
.bg-light{
	opacity:0.8;
}
#logo{
	position:absolute;
	width: 150px;
	height: 150px;
	margin: -50px 15px;
	font-weight: bold;
	font-size: 6em;
	background-color: #4267b2;
}
.b{
	border: 1px solid black;
}
.search{
	background-color: rgba( 200,200,200,0.9 );
	color: white;
	cursor: text!important;
}

@media (max-width: 450px ){
		.search{
			width: 130px!important
		}
}
@media (max-width: 360px ){
		.search{
			width: 100px!important
		}
}
@media (max-width: 320px ){
		.search{
			width: 60px!important
		}
}
.btn{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom: 0px!important;
}
.minustop{
	margin-top: -50px;
}
.set-height{
	height:32px;
}
.set-width{
	width: 198px;
	overflow:hidden;
}

#hidden{
	background-color: #4267b2;
	opacity: 0.6;
}
.box-shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box-shadow:before, .box-shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.box-shadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

#dropdown-div{
	background-color: #f3f3f3;
	z-index: 99;
}

.position-absolute{
	margin-left:-80px;
}