#add-wrapper{
	width:85%!important;
	margin:auto;
	text-align: center;
	margin-bottom:50px;
}
#add div{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}
#add div div{
	width:100%;
	border-radius:10px;
	box-shadow: -4px 12px 12px rgba(0,0,0,0.1),4px 12px 12px rgba(0,0,0,0.1);
}
#add div input, #add div select{
	text-align: center;
	padding: 3px 0px;
	border: none;
	border-right: 1px solid rgba(0,0,0,0.4);
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

#add div :nth-child(1) :nth-child(1){
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#add div :nth-child(2) input{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #4267b2;
	color: white;
}


select {
	text-align-last: center;
	text-align: center;
	-ms-text-align-last: center;
	-moz-text-align-last: center;
	background-color: white;
}
