.wid{
	width:100%;
}
hr {
	margin: 0.1px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.h-0{
	height:10px;
}
.spacing{
	margin: auto;
	margin-top:5px;
}

.w-15{
	width: 15%;
}
select {
	text-indent: 48%;
	background-color: white;
}