
.wrapper{
	border: 1px solid black;
	text-align: right;
	position:relative;
	width: 400px;
	height: 130px; 
	transition: ease 0.2s all;
	
}
.wrapper:hover{
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
}
.card-width{
	width:400px;
}
#card a{
	padding-left: 40px;
}
.top{
	height:100%;
	margin-left:30%;
	width:70%;
	color:white;
	font-size: 21px;
}
.background1{
	height:70%;
	background-color: #4267b2;
}
.likes{

	padding-bottom:3%;
	margin-left:30%;
	height:30%;
	width:70%;
}
.photo{
	top: 18%;
	left: 8%;
	position: absolute;
	width:100px;
	height: 100px;
	overflow: hidden;
	border: 2px solid black;
	background-color: #ffffff;

}
.absolute{
	height:100%;
}
.no-deco{
	text-decoration: none;
	color: white;
	}

.no-deco:hover{
	color:white;
}
.word-wrap{
	margin-bottom: 0px;
	font-size: 18px;
}
.star{
  margin-bottom: 0px!important;
  font-size: 25px;
  color: #4267b2;
}
.like{
  margin-bottom: 0px!important;
  font-size: 15px;
  color: #4267b2;
}
.fav{
  color: yellow;
  text-shadow: 1px 0 #4267b2, 0 1px #4267b2, -1px 0 #4267b2, 0 -1px #4267b2;


}
.pointer{
  cursor: pointer
}

@media (hover: none){
	.photo{
		width: 60px!important;
		height: 60px!important;
		left: 2%;
		top:40%;
	}
	.wrapper{
		width: 320px;
	}
	.word-wrap{
		margin-bottom: 0px;
		font-size: 13px;
	}
}
@media (max-width: 500px){
	.photo{
		width: 80px!important;
		height: 80px!important;
		left: 2%;
		top:37%;
	}
	.wrapper{
		width: 260px;
	}
	.word-wrap{
		margin-bottom: 0px;
		font-size: 13px;
	}
}
