.full-screen{
	height: 100%;
	overflow-y: auto;
}
.b{
	border: 1px solid rgba(0,0,0,0.4)
	}
.scroll{
	overflow-x: auto;
}
.scrolly{
	overflow-y: auto;
}
.padding{
	padding:20px;
}
.select-height{
	width: 200px;
	overflow-y:scroll;
}
.btn-width{
	width:100px;
	height: 100%;
}
.on-top{
	background-color: #cbcbcb;
	position:absolute;
	z-index:1000;
}
#filterButtons{
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}